html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family:'Merriweather', serif;
    font-weight: 100;
    background-color:#e7ecef;
    color: black
  }

  .container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 ;
}

/* NAVIGATION BAR */
.nav{
    background: #612940;
    min-height: 60px;
    width: 100%;
    font-size: 17px;
    position: fixed;
    z-index: 10;
    top: 0px;
    text-align: right;
}

.nal ul{
    list-style: none;
    display: inline;
}

.nav ul li {
    display: inline-block;
    color: #e7ecef;
    line-height: 35px;
    padding: 0 20px;
    transition: background .5s;
}

.nav ul li a {
    position: relative;
    padding: 18px 30px;
}

.nav ul li a:link, .nav ul li a:visited {
    color: #e7ecef;
    background-color: transparent;
    text-decoration: none;
}

.nav ul li a:hover, .nav ul li a:active {
    border-bottom: 2px solid #e7ecef;
    border-top: 2px solid #e7ecef;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

/*PROJECTS*/
.projects {
    height: 18%;
    background-color: #612940;
    color: #e7ecef;
}

.projects .container h2 {
    font-size: 30px;
    padding-top: 70px;
    width: 100%;
}

.proj-container {
    height: 900px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.projects .proj-one {
    float: left;
    padding-bottom: 5px;
}

.projects .proj-two {
    float: right;
    padding-bottom: 5px;

}

.projects .proj-three {
    float: center;
    padding-bottom: 5px;
}

.projects .proj-four {
    float: left;
    padding-bottom: 5px;
}

.projects .proj-five {
    float: right;
    padding-bottom: 5px;
}

.projects .proj-six {
    float: center;
    padding-bottom: 5px;
}

.projects .proj-seven {
    float: left;
    padding-bottom: 5px;
}

.projects .proj-eight {
    float: right;
    padding-bottom: 5px;
}

.projects .proj-nine {
    float: center;
    padding-bottom: 5px;
}

.proj-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px; 
}

.projects h3 {
    font-size: 18px;
    text-decoration: none;
}

.projects p {
    font-size: 16px;
    color: black;
}

.projects a:link, .projects a:visited {
    color: #612940;
    background-color: transparent;
    text-decoration: underline;
}

.projects a:hover, .projects a:active {
    background:#612940;
    color: #e7ecef;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px 0px;
}