html, body{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Trebuchet';
    font-weight: 100;
    background-color:#e7ecef;
    color: black
  }

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 ;
}

strong{
    font-weight: bold;
    }

italics{
    font-style: italic;
}
    
/* NAVIGATION BAR */
.nav{
    background: #612940;
    min-height: 60px;
    width: 100%;
    font-size: 17px;
    position: fixed;
    z-index: 10;
    top: 0px;
    text-align: right;
}

.nal ul{
    list-style: none;
    display: inline;
}

.nav ul li {
    display: inline-block;
    color: #e7ecef;
    line-height: 35px;
    padding: 0 20px;
    transition: background .5s;
}

.nav ul li a {
    position: relative;
    padding: 18px 30px;
}

.nav ul li a:link, .nav ul li a:visited {
    color: #e7ecef;
    background-color: transparent;
    text-decoration: none;
}

.nav ul li a:hover, .nav ul li a:active {
    border-bottom: 2px solid #e7ecef;
    border-top: 2px solid #e7ecef;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

/* HEADER: HAAMSENI PRABAHARAN */
.header {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #612940;
    color: #e7ecef;
    position: relative;
}

.header h1 {
    font-size: 30px;
}

.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 20px;
}

.textt {
    padding-top: 22%;
    text-align: left;
}

.header img {
    float: right;
    padding-top: 10%;
}

.header ul{
    list-style: none;
    display: inline;
}

.header ul li {
    display: inline-block;
    color: #e7ecef;
    line-height: 35px;
    padding: 0 20px;
    transition: background .5s;
}

.header ul li a {
    position: relative;
    padding: 18px 30px;
}

.header ul li a:link, .header ul li a:visited {
    color: #e7ecef;
    background-color: transparent;
    text-decoration: none;
}

.header ul li a:hover, .header ul li a:active {
    text-decoration: none;
}

/* MAIN */
.main {
    min-height: 30px;
    padding: 0px 2px 2px;
    max-width: 100%
}

.main .container h2 {
    font-size: 30px;
    color: #612940;
}

.main .container p {
    font-size: 18px;
}

/* EDUCATION */
.education {
    min-height: 30px;
    padding: 0px 2px 2px;
    max-width: 100%
}

.education .container h2 {
    font-size: 30px;
    color: #612940;
}

.education .container .head .one {
    float: left;
    font-size: 18px;
    }

.education .container .head .two {
    float: right;
    font-size: 18px;
    }

.education .container .details {
    clear: both;
    list-style-type: none;
    font-size: 18px;
}

.education .container .details p {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: left;
}

/* PROJECTS */
.projects {
    min-height: 30px;
    padding: 0px 2px 2px;
    max-width: 100%
}

.projects .container h2 {
    font-size: 30px;
    color: #612940;
}

.proj-container {
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.projects .proj-one {
    float: left;
}

.projects .proj-two {
    float: right;
}

.projects .proj-three {
    float: center;
}

.proj-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px; 
}

.projects h3 {
    font-size: 18px;
}

.projects p {
    font-size: 16px;
    color: black;
}

.projects .container .butt {
    font-size: 18px;
    text-align: center;
}

.projects a:link, .projects a:visited {
    color: #612940;
    background-color: transparent;
    text-decoration: underline;
}

.projects a:hover, .projects a:active {
    background:#612940;
    color: #e7ecef;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px 0px;
}

.butt a:hover, .butt a:active {
    padding: 10px 350px;
}

/* CERTIFICATIONS */
.certificates {
    min-height: 30px;
    padding: 0px 2px 2px;
    max-width: 100%
}

.certificates .container h2 {
    font-size: 30px;
    color: #612940;
}

.certificates p {
    font-size: 18px;
}

.certificates a:link, .certificates a:visited {
    color: #612940;
    background-color: transparent;
    text-decoration: underline;
}

.certificates a:hover, .certificates a:active {
    background:#612940;
    color: #e7ecef;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px 20px;
}


/* EXPERIENCES */
.experiences {
    min-height: 30px;
    padding: 0px 2px 2px;
    max-width: 100%
}

.experiences .container {
    font-size: 18px;
}

.experiences .container h2 {
    font-size: 30px;
    color: #612940;
}

.experiences .container .head .one {
    float: left;
    font-size: 18px;
    }

.experiences .container .head .two {
    float: right;
    font-size: 18px;
    }

.experiences .container .details {
    clear: both;
    font-size: 18px;
}

/* AWARDS */
.awards {
    min-height: 30px;
    padding-bottom: 5px;
    max-width: 100%
}

.awards .container h2 {
    font-size: 30px;
    color: #612940;
}

.awards .container li {
    font-size: 18px;
}

/* CONTACTS */
.contacts{
    background: #612940;
    min-height: 50px;
    padding: 15px;
    font-size: 17px;
    text-align: center;
}

.contacts ul{
    list-style: none;
    display: inline;
}

.contacts .container h2{
    color: #e7ecef;
    text-align: left;
    font-size: 25px;
}

.contacts .container p{
    color: #e7ecef;
    text-align: left;
    font-size: 18px;
}

.contacts ul li {
    display: inline-block;
    color: #e7ecef;
    line-height: 35px;
    padding: 0 20px;
    transition: background .5s;
}

.contacts ul li a {
    position: relative;
    padding: 18px 30px;
}

.contacts ul li a:link, .contacts ul li a:visited {
    color: #e7ecef;
    background-color: transparent;
    text-decoration: none;
}

.contacts ul li a:hover, .contacts ul li a:active {
    border-bottom: 2px solid #e7ecef;
    border-top: 2px solid #e7ecef;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
